.excss
{
    color: coral;
}

.box
{
    height: 300px;
    width: 300px;
    background-color:cyan;
    border: 5px solid crimson;
    padding: 50px;
    margin: 60px;
    border-radius: 20px;
}

.circle
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: hotpink;
}


body{
    border: 10px groove hotpink;
}

.descp
{
    font-size: larger;
    color: lightcoral;
}