.container
{
    display: flex;
    gap: 40px;
}

.box1
{
    background-color: aqua;
    height: 200px;
    width: 200px;
}
.box2
{
    background-color: yellow;
    height: 200px;
    width: 200px;
}
.box3
{
    background-color: red;
    height: 200px;
    width: 200px;
}
.box4
{
    background-color:blue;
    height: 200px;
    width: 200px;
}
.box5
{
    background-color:blanchedalmond;
    height: 200px;
    width: 200px;
}

@media only screen and (min-width:320px) and (max-width:480px)
{
    .container{
        display: flex;
        flex-direction: column;
    }
}